@import './core/variables.styl';
@import './core/transitions.styl';
@import './core/animations.styl';
@import './core/fonts.styl';

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: Avenir;
    font-size: 9rem;
    padding: 0; margin: 0;
    text-transform: lowercase;
    color: white;

    &.artist-name {
      color: mainBlue;
    }
}

h2 { 
  font-family: Avenir;
  font-size: 4.5rem;
  padding: 0; margin: 0;
  line-height: 4.5rem;
  color: rgba(mainPink, .3);
}

h3 {
  font-family: Avenir;
  font-size: 4rem;
  padding: 0; margin: 0;
  line-height: 4rem;
  color: mainBlue;
}

h4 {
  font-family: Avenir;
  font-size: 2.5rem;
  padding: 0; margin: 0;
  line-height: 3rem;
  color: mainBlue;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}