#teleportation-transition {
  position: fixed;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-color: white;
  display: none;
  opacity: 0;
  z-index: 99;
  transition: opacity 500ms ease-in-out;

  &.show-state {
    display: block;
  }

  &.fade-state {
    opacity: 1;  
  }
}